.main{
    width: 11%;
    min-width: 90px;
    background-color: #F7F7F7;
    margin-left: 7px;
    .menu-item{
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px dotted white;
        cursor: pointer;
        img{
            width: 50px;
            height: 50px;
        }
        p{
            font-size: 11px;
            color: #D95D5D;
            margin-top: 8px;
        }
    }
}