.main{
    background-color: azure;
    color: #535353;
    .header{
        background: url(../../assets/imgs/dashboard/header.png) no-repeat;
        background-size: inherit;
        padding: 30px 3%;
        min-height: 80px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        .img_size{
            width: 140px;
            margin-left: 40px;
            height: 40px;

        }

        .ul_style{
            max-width: 60%;
            float: right;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            margin : 0;
            li{
                font-size: 11px;
                color: #5DA2D5;
                margin: 10px 10px;
                cursor: pointer;
                a.signin{
                    background-color: #D95D5D;
                    border-radius: 5px;
                    padding: 0 10px;
                    color: white;
                    font-size: 14px;
                    text-decoration: none;
                    
                }
            }
        }
    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 50px;
        .form_left{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 55%;
            min-width: 550px;
            color: white;
            .img_style{
                width: 100%;
            }
            .login_form{
                position: absolute;
                width: 180px;
                .sign_title{
                    font-size: 25px;
                    margin-bottom: 0px;
                }
                p{

                    margin-top: 15px;
                    .input_item{
                        width: 100%;
                        height: 20px;
                    }
                    
                    .sign_btn{
                        font-size: 15px;
                        padding: 7px 25px;
                        border-radius: 5px;
                        background-color: #F3D250;
                        color: white;
                        text-decoration: none;
                    }
                }
            }



        }

        .form_right{
            width: 250px;
            min-width: 220px;
            margin-left: 2%;
            .red_text{
                color: #D95D5D;
                font-size: 48px;
                margin-bottom: 0px;
            }
            .under_text{
                font-size: 18px;

            }


        }
        

    }
}