.root{

  
    
}
.invalidTooltip{

    background-color: #F78888 !important;
   
}
.MuiOutlinedInput-input {
    padding: 10.5px 14px;
}

.textField { 
    margin-top: 8px!important;
    input{  padding: 12px;color: #707070;font-size: 16px }
   
 
  
}
fieldset  {
    border-color:#dedede !important;

}
textarea{  color: #707070!important;font-size: 16px!important; }
.label { position: static!important; transform: none!important;font-size: 14px!important;font-weight: bold!important}

.addBtn  {
    background-color: #F78888 !important;
    color: #fff !important;
    margin-top: 14px !important;
    padding-right: 20px!important;
    padding-left: 15px!important;
}

.submitBtn {
    font-size: 18px !important;
    margin-top: 10px!important;
    color: #fff!important;
    box-shadow: none!important;
    background-color: #F3D250 !important;
    font-weight: lighter!important;
    border-radius: 9px!important;
    padding-left:40px!important;
    padding-right:40px!important;
}
.FormGroup2 { margin-top: 8px!important}
.FormGroup3 { margin-bottom: 13px!important}
.finish {  margin-top: 15px!important; margin-bottom: 20px }

.iconModal {
    width: 18px;
    margin-right: 14px;
}
.select fieldset  {
    // background-color:rgba(243,210,80,.4)!important;
    
    }
    .selected fieldset  {
        // background-color:rgba(144,204,244,.4)!important;
        
        }
.iconWrap { padding: 0!important}
.iconWrap ul { padding-top: 2px}
.iconInner { padding-left: 4px!important; padding-right: 4px!important}
.iconInner span { font-size: 13px}
.DialogContainer > div > div { border-radius: 20px;max-width: 400px!important;}
.setDialog  > div > div { border-radius: 20px;max-width: 800px!important;}
.FormGroup { margin: 10px 0px 15px 0px!important }
.FromWrap { padding: 10px 20px;position: relative}
.userWrap > div > div > div > div {     padding: 11.5px 14px!important;}

 .userDialog {background-color: #EDEDED}
.FormGroup:before {content:'';display: block; width: 30px; height:100px; background-image: url('./../../assets/imgs/main/maskgroup.png');  background-size: 92px;
    background-position: -43px;
    position: absolute;
    background-repeat: no-repeat;
    left: -29px;
    top: 28px;
    overflow: hidden;
}
.selectSet > div > div  { padding: 11.5px 14px!important;}
.itemActive { background-color: #fff!important}
.formTag{
    text-align: right;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: 500;
    padding-top: 11px;
}
.formTag1{
    font-size: 14px;
    font-weight: 500;
    padding-top: 8px;
    float: left;
}
.setSelect > div { margin-top:0px!important}
.evenrow{
    background-color:white !important;
    td { padding-top: 7px!important;padding-bottom: 7px!important}
    th { padding-top: 7px!important;padding-bottom: 7px!important}
}

.oddrow{
    background-color: #ECECEC !important;
    th { padding-top: 7px!important;padding-bottom: 7px!important}
}
.checkLabel span:nth-last-child(1) {   
    font-size: 14px;
    line-height: 20px;
}
.TableHead{
    background-color: #ECECEC !important;
    th{
        color: #5DA2D5 !important;
        font-size: 13px;
        font-weight: 600 !important;
        padding: 15px 16px!important;
    }
}

.setQBtn { margin-top: 35px!important; margin-bottom: 30px!important}
.filterTable { height: 400px; overflow-y: scroll}