.design-button{
    box-shadow: 5px 4px 5px 0px #bbb;
    margin-top : 15px;
    width: 72px;
    height: 97px;
    border-radius: 5px;
    p{
        margin-top: 0;
        border-bottom: 1px solid lightgray;
        color: gray;
        font-size: 14px;
        margin-bottom: 14px;
    }
}