.menu{
    background-image: url(../../assets/imgs/main/bg_top_menu.png);
    background-size: cover;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    .professor{
        margin: 18px;
        margin-left: 5%;
        img{
            width: 160px;
        }

    }

    span{
        margin-right: 5%;
        font-size: 12px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        label{
            margin-right: 15px;
        }
        img{
            margin-right: 10px;
            width: 36px;
            height: 36px;
            align-content: center;
        }
        a{
            color: white;
            text-decoration: none;
            background-color: #D95D5D;
            border-radius: 5px;
            font-size: 11px;
            padding: 4px 7px;


        }

    }


}