input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
.mat-ripple:focus{
    outline: none !important;
}

.rootMain{
    width: 450px;
    height: 100%;
    color: #292929;
    transition-duration: 400ms;
    .header{
        background-color: #e8e8e8;
        display: flex;
        padding: 12px;
        padding-left: 20px;
        justify-content: space-between;
        align-items: center;
        .roundDark{
            width: 21px;
            height: 21px;
            margin-left: -150px;
            border-radius: 50%;
            background: #4c5065;
        }
        .exitBtn{
            width: 19px;
            height: 19px;
        }

    }
    .content{
        .contentHeader{
            padding: 10px;
            padding-left: 20px;
            span{
                font-size: 15px;
                font-weight: 800;
            }
            
            .inputColor{
                height: 20px;
                width: 120px;
                border: 1px solid #e8e8e8;

            }
            .btnSetColor{
                font-size: 14px;
                margin-left: 35px;
                background-color: #ff7900;
                border-radius: 6px;
                color: white;
                padding: 5px 16px; 

                box-shadow: 3px 4px 8px 0px #bbb;

            }

        }
        .colorsContent{
            padding: 10px;
            padding-left: 10px;
            .firstColorItem{
                width : 48px;
                height : 48px;
                // background : none;
                margin : 10px;
                border : "none";
                padding : 0;
                border-radius : 5px;
                cursor : pointer;
            }
            // display: flex;
            // justify-content: space-between;

        }
    }
}