.main{
    background-color: azure;
    color: #535353;
    .header{
        background: url(../../assets/imgs/dashboard/header.png) no-repeat;
        background-size: inherit;
        padding: 30px 3%;
        min-height: 80px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        .img_size{
            width: 140px;
            margin-left: 40px;
            height: 40px;

        }
        .ul_style{
            max-width: 60%;
            float: right;
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            margin : 0;
            li{
                font-size: 11px;
                color: #5DA2D5;
                margin: 10px 10px;
                cursor: pointer;
                a.signin{
                    background-color: #D95D5D;
                    border-radius: 5px;
                    padding: 0 10px;
                    color: white;
                    font-size: 14px;
                    text-decoration: none;
                }
            }
        }

    }
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .content_1_left{
            width: 40%;
            min-width: 370px;
            max-width: 550px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .mark_img{
                width: 70px;
            }
            p.red_text{
                color: #F78888;
                font-size: 40px;
                margin-bottom: 12px;
                margin-top: 30px;
    
            }
            .common_text{
                font-size: 20px;

            }
            .learn_more{
                color: white;
                background-color: #5DA2D5;
                padding: 10px 20px; 
                border-radius: 7px;

            }
            p{
                width: 100%;
                margin-top: 0;
            }

        }
        img.img_1_right{
            width: 40%;
            min-width: 370px;

        }
        

    }

    .content1{
        margin-top: 80px;
        .item{
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .content_1_left{
                width: 25%;
                min-width: 370px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .mark_img{
                    width: 70px;
                }
                p.red_text{
                    color: #5DA2D5;
                    font-size: 40px;
                    margin-bottom: 12px;
                    margin-top: 12px;
                    margin-top: 30px;

        
                }
                .common_text{
                    font-size: 20px;

                }
                .learn_more{
                    color: white;
                    background-color: #5DA2D5;
                    padding: 10px 20px; 
                    border-radius: 7px;

                }
                p{
                    width: 100%;
                    margin-top: 0;
                }

            }
            img.img_1_right{
                width: 25%;
                min-width: 370px;
                margin-right: 5%;

            }

        }
    }


    .middle_footer{
        justify-content: center;
        display:flex;
        align-items: center;
        min-height: 760px;
        .bubble_img{
            width: 100%;
            min-height: 850px;
        }
        @media only screen and (max-width: 600px){
            .bubble_img{
                width: 200%;
            }
        }
        .middle_footer_content{
            flex-direction: column;
            justify-content: center;
            display:flex;
            align-items: center;
            flex-direction: column;
            z-index: 1;
            width: 370px;
            position: absolute;
            .mark_img{
                width: 70px;
            }
            p.red_text{
                color: white;
                font-size: 40px;
                margin-bottom: 12px;
                margin-top: 12px;
                margin-top: 30px;
                text-align: center;
            }
            .common_text{
                color: white;
                font-size: 20px;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 60px;

            }
            .learn_more{
                color: white;
                background-color: #5DA2D5;
                padding: 10px 20px; 
                border-radius: 7px;
                text-align: center;

            }

        }

    }

    .footer{
        justify-content: flex-start;
        display:flex;
        align-items: center;
        margin-top: -20px;

        .footer_img{
            width: 100%;
            min-height: 480px;
        }
        @media only screen and (max-width: 600px){
            .footer_img{
                width: 200%;
            }
        }

        .short_links{
            position: absolute;
            list-style: none;
            margin-left: 10%;
            li{
                margin-top: 20px;
                a{
                    color: white;
                    cursor: pointer;
                }
            }
        }


    }
}
