.main{
    width: 85%;
    float: right;
    h2{
        color: #5DA2D5;
        margin-top: 40px;
        margin-left: 5%;
        img{
            vertical-align: middle;
            margin-right: 15px;
            width: 38px;
        }
    }
    .container{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        .container-item{
            background-color: #F7F7F7;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 20px 0;
            width: 200px;
            height: 200px;
            cursor: pointer;
            img{


            }
            p{

                font-size: 20px;
                color: #5DA2D5;
            }
        }
    }
}