.root{

  
    
}

.MuiOutlinedInput-input {
    padding: 10.5px 14px;
}

.textField { 
    margin-top: 10px!important;
    input{  padding: 12px;color: #707070;font-size: 16px };
    fieldset  {
        border-color:#dedede !important;
        color: aqua !important;
    }
}



textarea{  color: #707070!important;font-size: 16px!important; }
.label { position: static!important; transform: none!important;font-size: 14px!important;font-weight: bold!important}

.addBtn  {
    background-color: #F78888 !important;
    color: #fff !important;
    margin-top: 14px !important;
    padding-right: 20px!important;
    padding-left: 15px!important;
}

.submitBtn {
    font-size: 18px !important;
    margin-top: 30px!important;
    color: #fff!important;
    box-shadow: none!important;
    background-color: #F3D250 !important;
    font-weight: lighter!important;
    border-radius: 9px!important;
    padding-left:30px!important;
    padding-right:30px!important;
}
.FormGroup2 { margin-top: 15px!important}
.finish {  margin-top: 15px!important; margin-bottom: 20px }

.iconModal {
    width: 18px;
    margin-right: 14px;
}
.select fieldset  {
    background-color:rgba(243,210,80,.4)!important;
    
    }
    .selected fieldset  {
        background-color:rgba(144,204,244,.4)!important;
        
    }
.iconWrap { padding: 0!important; background: #e6e6e6;   margin-left: -12px!important;
    padding-left: 13px!important;}
.iconWrap ul { padding-top: 2px}
.iconInner { padding-left: 4px!important; padding-right: 4px!important}
.iconInner span { font-size: 13px}
.DialogContainer > div > div { border-radius: 20px;max-width: 700px!important;}
.FormGroup { margin: 10px 0px 15px 0px!important }
.FromWrap { padding: 10px 20px;position: relative}
.FormGroup:before {content:'';display: block; width: 30px; height:100px; background-image: url('./../../assets/imgs/main/maskgroup.png');  background-size: 92px;
    background-position: -43px;
    position: absolute;
    background-repeat: no-repeat;
    left: -29px;
    top: 28px;
    overflow: hidden;
}
.questionWrap {     padding: 10px 2px 10px 20px!important;}
.quesHeading { background: #e6e6e6!important}
.itemActive { background-color: #fff!important}
.selected { position:relative}
.selected:before {
    content: 'SELECTED';
    display: block;
    position: absolute;
    width: 100px;
    left: 42%;
    font-weight: bold;
    top: 27%;
}

.select:before {
    content: 'SELECT';
    display: block;
    position: absolute;
    width: 100px;
    left: 42%;
    font-weight: bold;
    top: 27%;
}