.flex {
    display: flex;
    transition-duration: 400ms;
}

.flex-row {
    @extend .flex;
    flex-direction: row;
}

.flex-row-reverse {
    @extend .flex;
    flex-direction: row-reverse;
}

.flex-column {
    @extend .flex;
    flex-direction: column;
}

.flex-column-reverse {
    @extend .flex;
    flex-direction: column-reverse;
}
