@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700&display=swap');
body{font-family: 'Roboto', sans-serif;}
.root{
    
    font-family: 'Roboto', sans-serif;
    padding: 50px;
    flex-grow: 1;
   
    .tablerow{
      margin-top: 30px;
    }

    .headingColor{
        color: #5DA2D5 !important;
       
    }
    .pageTitle { font-size: 23px;}

    .btnPrimary{
        color: #fff;
        background-color: #F3D250 !important;
        border-color: #F3D250 !important;
    }

    .chipColor{
        background-color: #5DA2D5 !important;
        color: white !important;
        height: 22px;
        margin: 1px;
    }

    .evenrow{
        background-color:white !important;
        td { padding: 7px 16px 7px 16px!important}
    }

    .oddrow{
        background-color: #ECECEC !important;
        td { padding: 7px 16px 7px 16px!important}
    }

    .TableHead{
        background-color: #ECECEC !important;
        th{
            color: #5DA2D5 !important;
            font-size: 13px;
            font-weight: 600 !important;
            padding: 15px 16px!important;
        }
    }

    .deleteColor{
        background-color: #D95D5D !important;
        color: white;
    }
  .pageHeading { font-weight: 400;color: #707070;    margin: 0;}
  .imgStyle {
    width: 35px;
    padding-right: 11px;
    float: left;
}
  .pageBtn{
    font-size: 17px !important;
    margin-top: 30px!important;
    color: #fff!important;
    box-shadow: none!important;
    background-color: #F3D250 !important;
    font-weight: 500!important;
    border-radius: 9px!important;
    padding-left:30px!important;
    padding-right:30px!important;
  }
  .delBtn {
    box-shadow: none !important;
    border-radius: 7px !important;
    font-weight: 400 !important;
    font-size: 10px;
    background-color: #D95D5D !important;
    padding: 2px 16px;
}
.column td{ font-size: 12px; font-weight: 500;color:rgba(91, 91, 91, 0.87)}
}

.DialogHeading{text-align: center; background: #fff ;}
.DialogWrap {background: #fff; overflow-y: hidden!important;
.formWrap{
    background: #fff;
}
input{  padding: 12px;color: #707070;font-size: 16px };
}

input{  padding: 12px;color: #707070;font-size: 16px };