input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}
.grow-0 {
    flex-grow: 0;
}

.grow-1 {
    flex-grow: 1;
}
.buttonStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.root-main{
    height: 100%;
    .left-toolbar{
        height: 100%;
        .editor-tools-container {
            @extend .grow-0;
            background: #767676;
            height: 100%;
            padding: 0 10px;
            z-index: 1;
            .color-picker{
                @extend .buttonStyle;
                p{
                    margin-top: 6px;
                    margin-bottom: 0;
                    font-size: 13px;
                }
            }
            .add-text{
                @extend .buttonStyle;
                label{
                    font-size: 33px;
                    font-weight: 500;
                }
                span{
                    font-size: 12px;
                }
            }
            .add-name{
                @extend .buttonStyle;
                label{
                    font-size: 20px;
                }
                span{
                    font-size: 12px;
                }
            }
            .add-image{
                @extend .buttonStyle;
                span{
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }
        
        .editor-controls-container {
            @extend .grow-0;
            height: 100%;
            box-shadow: 5px 4px 5px 0px #bbb;
        }

    }

}



.preview-container {
    @extend .grow-1;
}

.scene-container {
    @extend .grow-1;
}

.design-tools-container {
    @extend .grow-0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 20px;
    .design-button-group{
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-top: 0;
    }
    .zoom-button-group{
        display: flex;
        padding: 15px;

        flex-direction: column;
        .zoom-button{
            box-shadow: 5px 4px 5px 0px #bbb;
        }
        .zoom{
            font-size: 40px;
        }


    }
}
