.root{

  
    
}
.invalidTooltip{

    background-color: #F78888 !important;
   
}
.MuiOutlinedInput-input {
    padding: 10.5px 14px;
}

.textField { 
    margin-top: 8px!important;
    input{  padding: 12px;color: #707070;font-size: 16px }
   
 
  
}
fieldset  {
    border-color:#dedede !important;

}
textarea{  color: #707070!important;font-size: 16px!important; }
.label { position: static!important; transform: none!important;font-size: 14px!important;font-weight: bold!important}

.addBtn  {
    background-color: #F78888 !important;
    color: #fff !important;
    margin-top: 14px !important;
    padding-right: 20px!important;
    padding-left: 15px!important;
}

.submitBtn {
    font-size: 18px !important;
    margin-top: 10px!important;
    color: #fff!important;
    box-shadow: none!important;
    background-color: #F3D250 !important;
    font-weight: lighter!important;
    border-radius: 9px!important;
    padding-left:40px!important;
    padding-right:40px!important;
}
.FormGroup2 { margin-top: 8px!important}
.finish {  margin-top: 15px!important; margin-bottom: 20px }

.iconModal {
    width: 18px;
    margin-right: 14px;
}
.select fieldset  {
    // background-color:rgba(243,210,80,.4)!important;
    
    }
    .selected fieldset  {
        // background-color:rgba(144,204,244,.4)!important;
        
        }
.iconWrap { padding: 0!important}
.iconWrap ul { padding-top: 2px}
.iconInner { padding-left: 4px!important; padding-right: 4px!important}
.iconInner span { font-size: 13px}
.rolesDialog > div > div { border-radius: 20px;max-width: 700px!important;}
.FormGroup { margin: 10px 0px 15px 0px!important }
.FromWrap { padding: 10px 20px;position: relative}
.userWrap > div > div > div > div {     padding: 11.5px 14px!important;}

 .userDialog {background-color: #EDEDED}
.FormGroup:before {content:'';display: block; width: 30px; height:100px; background-image: url('./../../assets/imgs/main/maskgroup.png');  background-size: 92px;
    background-position: -43px;
    position: absolute;
    background-repeat: no-repeat;
    left: -29px;
    top: 28px;
    overflow: hidden;
}

.itemActive { background-color: #fff!important}
.select3 > div > div {     padding: 11.5px 14px!important;}
.labrlText { font-size: 14px!important; font-weight: bold!important; margin-top:12px!important}
.normalText {font-size: 14px!important; margin-bottom: 20px!important;display:block}
.normalTextinner {font-size: 14px!important; font-style: italic}
.checkLabel > span{
    padding: 2px 1px 2px 6px !important;
   
}
.roleBtn {margin-top: 31px!important;
    margin-bottom: 20px!important;}
.checkLabel > span:nth-last-child(1) {
    padding: 2px 1px 2px 6px !important;
    font-size: 15px;
    color: #707070;
}